/*######################
HTML STYLE
######################*/
/*
html { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
*/
/*######################
BODY STYLE
######################*/

body{
    background-image: url("/img/background.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-size: 150%;
}

/*######################
INPUT RANGE STYLE
######################*/

input[type=range] {
    height: 28px;
    appearance: none;
    margin: 10px 0;
    width: 40%;
    overflow: hidden;
    background-color: #fdfefd;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #9bf07c;
    border-radius: 0px;
    border: 0px solid #000000;
    color: #13bba4;
    margin-top: -1px;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: -400px 0 0 400px #0ed325;
    border: 0px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 0px;
    background: #0ed325;
    cursor: ew-resize;
    -webkit-appearance: none;
    margin-top: -2.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3071A9;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #3071A9;
    border-radius: 0px;
    border: 3px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 2px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 0px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #3071A9;
    border: 3px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border: 3px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 2px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 0px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071A9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #3071A9;
  }
  
/*######################
INPUT SUBMIT STYLE
######################*/

input[type=submit] {
    padding:10px 15px; 
    background:#9bf07c; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-size: 30px;
}

/*######################
INPUT SELECT STYLE
######################*/

select {
    font-size: 30px;
    background:#9bf07c; 
}

