{% extends 'base_join_create.html' %}
{% block title %}
	<title>Create Poll</title>
{% endblock %}

{% block content %}
    <div class="create_poll_back">
        <h1 class="active texto_center">СТВОРЕННЯ ОПИТУВАННЯ</h1>

        <!-- //-- VlaGan: якщо це потрібно при створенні, я стилі потім піджену
            //-- але я думаю, що краще б це показувати на окремій сторінці вже потім
            //-- після створення, наприклад, на другу перекидати
        -->
        <!--h1>СТВОРИТИ ОПИТУВАННЯ</h1>
        <h1>ID: {{id}}</h1>
        <h1>КОД ДЛЯ ПРОХОДЖЕННЯ: {{passw}} ЗБЕРЕЖІТЬ ПЕРЕД СТВОРЕННЯМ</h1>
        <h1>КОД ДЛЯ ВИДАЛЕННЯ: {{del_passw}} ЗБЕРЕЖІТЬ ПЕРЕД СТВОРЕННЯМ</h1-->

        <form method="POST" action="{{ url_for('create') }}" >
            {% for i in range(5) %}
                <input type="text" class="text" name="link{{i+1}}">
                <span>Посилання №{{ i+1 }}</span>
                <br>
            {% endfor%}
            <input class="signin" type="submit" value="Створити опитування">
            <hr>
        </form>

        <a class="texto_to_create" href="{{url_for('index')}}">Вже маєте опитування? Долучитись.</a>
    </div>

{% endblock%}
